<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    	<p>
            Trải qua 6 năm nghiên cứu lập trình thi đấu, tham gia nhiều cuộc thi lớn nhỏ trong nước
			và nhiều các cuộc thi online trên các trang web nổi tiếng như hackerrank, codeforces, ... 
			, tôi tin năng lực lớn nhất của bản thân
			là nghiên cứu và giải quyết các vấn đề liên quan đến cấu trúc dữ liệu và giải thuật, tư duy toán học
			và xác suất thống kê.
			
        </p>
        <p>
           Tôi thích tìm hiểu những công nghệ mới, tìm hiểu cách mọi thứ hoạt động.
		   Gần đây nhất tôi đã trải qua 6 tháng thực tập tiếp xúc với
		   các công nghệ mới nhất của Android đến từ Google, kỳ thực tập này đã giúp tôi kiếm thêm nhiều 
		   kinh nghiệm thực tiễn, cách giao tiếp với đồng nghiệp, quy trình làm việc và quan trọng không kém
		   là các kỹ năng về phát triển phần mềm, kiểm thử trên môi trường Android.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
					Giải ba cuộc thi học sinh giỏi Tin học Quốc gia cấp THPT năm 2016.
    			</li>
    			<li>
					Giải nhì cuộc thi học sinh giỏi Tin học Quốc gia cấp THPT năm 2017.
    			</li>
    			<li>
					Xếp thứ 47 trong hơn 120 đội tham dự kỳ thi lập trình sinh viên cấp 
					khu vực ICPC Asia Hanoi 2018 (Bao gồm 15 đội quốc tế tham dự).
    			</li>
    			<li>
					Huy chương bạc kỳ thi lập trình sinh viên cấp khu vực ICPC Asia Danang 2019. 
					Xếp thứ 9 trong hơn 110 đội tham dự (Bao gồm 14 đội quốc tế tham dự).
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
