<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    Những điều tôi yêu thích:
        </p>
			<ul>
			  <li>
				 <b>Toán học sơ cấp</b>. 
				 Nhiều người có quá khứ không mấy tốt đẹp với môn học này, tuy nhiên với tôi đây là một
				 bộ môn rèn luyện tư duy rất tốt và là môn học không thể thiếu với những lập trình viên giỏi.
			  </li>
			  <li>
				  <b>Cầu lông</b>. 
				  Một môn thể thao yêu thích của tôi từ khi còn nhỏ. Tuy nhiên gần đây tôi mới có thể đầu tư nhiều
				  thời gian và tiền bạc hơn vào môn thể thao này.
			  </li>
			  <li>
				  <b>Truyện tranh</b>. 
				  Mỗi ngày tôi đều dành ra một khoảng thời gian từ 30 phút đến 1 giờ theo dõi các bộ truyện tranh yêu thích,
				  tôi nghĩ không chỉ truyện chữ mà truyện tranh cũng có nhiều bộ truyện ý nghĩa, có ích trong việc
				  rèn luyện văn hóa đọc cho các bạn trẻ.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Các project gần đây</h3>
		  <ul>
  			<li>
				VNShop, một ứng dụng thương mại điện tử nhắm vào nhiều đối tượng khách hàng.
				Ứng dụng được phát triển trên các công nghệ mới nhất của Android, đội ngũ phát triển làm việc dự trên quy trình Scrum - Agile.
    		</li>
  			<li>
				Bomberman, một project trong khóa học lập trình hướng đối tượng.
				Tôi và một người bạn đã phát triển lại tựa game  bomberman dựa theo một bộ khung khá sơ sài.
				Project chủ yếu yêu cầu Java và lập trình hướng đối tượng
  			</li>
  		    </ul>
  		    <h3>Một số hoạt động khác</h3>
  		    <ul>
  			<li>
           Dạy cấu trúc dữ liệu và giải thuật tại trường THPT chuyên DHSP Hà Nội (từ 2017)
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
